@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-poppins);

  --color-twb-primary: #D31346;
  --color-twb-primary-dark: #9E0E35;
  --color-twb-grey-light: #E9E9E9;
  --color-twb-grey: #BBBBBB;
  --color-twb-grey-dark: #242424;

  --color-twb-green: #C8D533;
  --color-white: #FEFEFE;

}

body {
  background: var(--color-white);
  color: var(--color-white);
  font-family: var(--font-poppins);
  font-weight: 500;
}
